/* ===================================================================
 *  video section
 *
 * ------------------------------------------------------------------- */

#video-section {
	height: 700px;
	background: url(../images/video_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-color: red;*/
}

#video-section .video-content {
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	text-align: center;
}

#video-section h1 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 36px;
  color: white;
}


#video-section .video-content .video-content-layout{
	vertical-align: middle;
	display: table-cell;
	top: 0;
	z-index: 2;
}

.modal-content {
	background: transparent !important;
	border: none !important;
	align-items: center;
}

.modal-content iframe {
	width: 720px;
	height: 480px;
}

@media (max-width: 500px){
	.modal-content iframe{
		width: 100%;
    height: 400px;
		
	}
}

#blog {
	background-color: white;
	min-height: 500px;
}

#blog .section-intro {
	/*align-items: center;*/
	padding: 5rem 0 2rem;
}

#blog .section-intro h3 {
	color: #610e0f;
}

#blog .section-intro h1 {
  color: #51484d;
}

.block-20 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 270px; }

@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px; } }

@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px; } }

.blog-entry .text {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  .blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600; }
    .blog-entry .text .heading a {
      color: #000000; }
      .blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
        color: #610e0f; }
        
.blog-entry .topp {
  position: absolute;
  top: -6em;
  left: 1em;
  background: #fff;
  padding: 10px;
  border-radius: 4px; }

.blog-entry .one {
  width: 60px; }

.blog-entry .two {
  width: calc(100% - 60px); }

.blog-entry span.day {
  font-size: 40px;
  font-weight: 300;
  color: #610e0f;
  line-height: 1; }

.blog-entry span.yr, .blog-entry span.mos {
  display: block;
  font-size: 13px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
  color: #610e0f; }
